<br><br>
<div class="course">
    <h3 class="heading"> Lorem Epsum</h3>
    <img src="D:\Angular\Prog1\src\assets\img1.jpg" alt="" width="100px" height="100px" class="img">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis illum explicabo pariatur dolor cupiditate quibusdam? Fugiat neque rem perferendis quibusdam eos vel voluptas iste! Quas ratione eius tenetur rerum asperiores.</p>
</div>

<div class="course">
    <h3 class="heading"> Lorem Epsum</h3>
    <img src="C:\Users\Dell\Desktop\img.webp" alt="" width="100px" height="100px" class="img">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis illum explicabo pariatur dolor cupiditate quibusdam? Fugiat neque rem perferendis quibusdam eos vel voluptas iste! Quas ratione eius tenetur rerum asperiores.</p>
</div>
<div class="course">
    <h3 class="heading"> Lorem Epsum</h3>
    <img src="C:\Users\Dell\Desktop\img.webp" alt="" width="100px" height="100px" class="img">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis illum explicabo pariatur dolor cupiditate quibusdam? Fugiat neque rem perferendis quibusdam eos vel voluptas iste! Quas ratione eius tenetur rerum asperiores.</p>
</div>

<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
